<a href="https://colab.research.google.com/github/Madhu-g24/Madhu-g24/blob/main/Prac_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
input('what is your name?')

what is your name?abc

'abc'

In [2]:
age = input('Rahul your age please')

Rahul your age please67

In [3]:
pip install emoji

Collecting emoji
  Downloading emoji-2.14.1-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.14.1-py3-none-any.whl (590 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 590.6/590.6 kB 23.2 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.14.1

In [4]:
import emoji
# Display emoji using unicode codeprint
grinning_face = emoji.emojize("\U00011F600") #unicode for grinning_face
print(grinning_face)

ëΩ†0

In [5]:
heart_emoji=emoji.emojize(':orange_heart:')
microphone_emoji= emoji.emojize(':microphone:')
barchart_emoji= emoji.emojize(':bar_chart:')
sentence= f'I {heart_emoji} Tyalor Swift {microphone_emoji} and data Science {barchart_emoji}'
print(sentence)

I üß° Tyalor Swift üé§ and data Science üìä

In [6]:
def add(num1, num2, num3):
    sum3nums = num1 +num2 +num3
    return sum3nums

In [7]:
from math import pi #import the constant pi from math module

def area_of_circle(radius):
    # area of a circle with the radius
    area = pi * radius ** 2
    return area
radius = 4
area = area_of_circle(radius)
print(area)

50.26548245743669

In [8]:
help(area_of_circle)

Help on function area_of_circle in module __main__:

area_of_circle(radius)

In [9]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [10]:
x = '1' + '1'
print (x)

11

In [11]:
u = '1 + 1'
print (u)

1 + 1

In [12]:
#python code to merge dict update() method
def Merge(dict1, dict2):
    return(dict2.update(dict1))

# Driver Code
dict1 = {'a' : 10, 'b' : 8}
dict2 = {'d' : 6, 'c' : 4}

# This returns None
print(Merge(dict1, dict2))

# change mode in dict2
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [13]:
age = 30
print(age == 25)

print(age < 30)
print(age >= 25)

False
False
True

In [14]:
number = 5

if number >2:
    print("number 2")

number 2

In [15]:
age = 35
if age >= 60:
    print('you are eligible')
else:
    print('you are not eligible')

you are not eligible

In [16]:
number = 5

if number > 2:
    print("number > 2")
else:
    print("number <= 2")

number > 2

In [17]:
lower_limit = 10
upper_limit = 150

number_to_check = 120

if number_to_check >= lower_limit and number_to_check <= upper_limit:
    print('number is inside the range')
else:
    print('number is outside the range')

number is inside the range

In [18]:
age = 40
pensionable_age = 60

if age < 0:
    print('Error. Please enter an age greater than zero')
elif age < pensionable_age:
    years_to_pension = pensionable_age - age
    print('There are {0} years until you can draw your pension!'\
         .format(years_to_pension))
else:
    print('You are eligible to draw your pension')

There are 20 years until you can draw your pension!

In [19]:
age = 70
pensionable_age = 60

if age < 0:
    print('Error. Please enter an age greater than zero')
elif age < pensionable_age:
    years_to_pension = pensionable_age - age
    print('There are {0} years until you can draw your pension!'\
         .format(years_to_pension))
else:
    print('You are eligible to draw your pension')

You are eligible to draw your pension

In [20]:
number = 5

if number > 3:
    print("Number >3")
else:
    print("Number <=2")

Number >3

In [21]:
age = 35
if age >= 20:
    print('you are eligible')
else:
    print('you are not eligible')

you are eligible

In [22]:
lower_limit = 10
upper_limit = 150

number_to_check =120

if number_to_check >= lower_limit and number_to_check <= upper_limit:
    print('number is inside the range')
else:
    print('number is outside of the range')

number is inside the range

In [23]:
age = 70
pensionable_age = 60

if age < 0:
    print('Error.please enter an age greater than zero')
elif age < pensionable_age:
    years_to_pension = pensionable_age - age
    print('There are {0) years until you can draw your pension!'\
          .format(years_to_pesnion))
else:
    print('you are eligible to draw your pension')

you are eligible to draw your pension

In [24]:
def eligible_for_pension(age):
    '''
    Return boolean True or False to indicate if
    one pension is eligible for their pension

    keyword arguments:
    age -- a pensions age is integer years (e.g. 32 or 45)
    '''
    return age >= 68

In [25]:
age = 68
if eligible_for_pension(age):
    print('congratulations. Yor can retire')
else:
    print('You are not eligible for you are pension')

congratulations. Yor can retire

In [26]:
def stamp_duty(house_price, first_time_buyer):
    '''
    First time buyers recive more tax relief
    than people buying their next house.
    Returns float representing the stamp duty owed.
    '''
    if first_time_buyer: #this if statement is nested for the first time buyer
        if house_price <= 300000:
            return 0.0
        else:
            return house_price * 0.05
    else:
        if house_price <125000:
            return 0.0
        else:
            return house_price * 0.05

In [27]:
my_first_house_price = 10000
owed = stamp_duty(my_first_house_price,True)
print('stamp duty owed = {0}'.format(owed))

stamp duty owed = 0.0

In [28]:
age = 36
while age <= 40:
    print('you are currently {0} years old'.format(age), end='')
    age += 1 # age = age + 1)

you are currently 36 years oldyou are currently 37 years oldyou are currently 38 years oldyou are currently 39 years oldyou are currently 40 years old

In [29]:
marks = 55
while marks <= 60:
    print ('you have scored {0} marks' .format (marks))
    marks += 1

you have scored 55 marks
you have scored 56 marks
you have scored 57 marks
you have scored 58 marks
you have scored 59 marks
you have scored 60 marks

In [30]:
n = 5
y = 3
z = n % y
print(z)

2

In [31]:
def fizzbuzz(n):
    """
    For multiples of both three and five, print "FizzBuzz"
    For multiples of three, print "FizzBuzz"
    For multiples of five, print "FizzBuzz"
    For others, print the number

    keyword arguments:
    n -- the number to rest
    """
    if n % 3 == 0 and n % 5 == 0:
        print('fizzbuzz')
    elif n % 3 == 0:
        print('fizz')
    elif n % 5 == 0:
        print('buzz')
    else:
        print(n)

In [32]:
n = 1
while n <= 15:
    print('n = {0}:'.format(n), end='')
    fizzbuzz(n)
    n += 1 # n=n+1

n = 1:1
n = 2:2
n = 3:fizz
n = 4:4
n = 5:buzz
n = 6:fizz
n = 7:7
n = 8:8
n = 9:fizz
n = 10:buzz
n = 11:11
n = 12:fizz
n = 13:13
n = 14:14
n = 15:fizzbuzz